twPlugin:
  twPlugin_1:
    code: admin
    status_id: twPluginStatus_2
  twPlugin_2:
    code: user
    status_id: twPluginStatus_2
    
twPluginI18n:
  twPluginI18n_1_en:
    id: twPlugin_1
    culture: en
    name: 'Administration'
  twPluginI18n_1_pl:
    id: twPlugin_1
    culture: pl
    name: 'Administracja'
  twPluginI18n_2_en:
    id: twPlugin_2
    culture: en
    name: 'Users'
  twPluginI18n_2_pl:
    id: twPlugin_2
    culture: pl
    name: 'Użytkownicy'

twPluginModule:
  twPluginModule_1:
    plugin_id: twPlugin_1
    status_id: twPluginStatus_2
    code: settings
    credentials: admin
    route: @tw_settings
  twPluginModule_2:
    plugin_id: twPlugin_1
    status_id: twPluginStatus_2
    code: plugins
    credentials: admin
    route: @tw_plugin
  twPluginModule_3:
    plugin_id: twPlugin_2
    status_id: twPluginStatus_2
    code: sfuser
    credentials: admin
    route: @sf_guard_user
  twPluginModule_4:
    plugin_id: twPlugin_2
    status_id: twPluginStatus_2
    code: sfgroup
    credentials: admin
    route: @sf_guard_group
  twPluginModule_5:
    plugin_id: twPlugin_2
    status_id: twPluginStatus_2
    code: sfpermission
    credentials: admin
    route: @sf_guard_permission
    
twPluginModuleI18n:
  twPluginModuleI18n_1_en:
    id: twPluginModule_1
    culture: en
    name: 'Settings'
  twPluginModuleI18n_1_pl:
    id: twPluginModule_1
    culture: pl
    name: 'Ustawienia'
  twPluginModuleI18n_2_en:
    id: twPluginModule_2
    culture: en
    name: 'Plugins'
  twPluginModuleI18n_2_pl:
    id: twPluginModule_2
    culture: pl
    name: 'Pluginy'
  twPluginModuleI18n_3_en:
    id: twPluginModule_3
    culture: en
    name: 'Users'
  twPluginModuleI18n_3_pl:
    id: twPluginModule_3
    culture: pl
    name: 'Użytkownicy'
  twPluginModuleI18n_4_en:
    id: twPluginModule_4
    culture: en
    name: 'Groups'
  twPluginModuleI18n_4_pl:
    id: twPluginModule_4
    culture: pl
    name: 'Grupy uprawnień'
  twPluginModuleI18n_5_en:
    id: twPluginModule_5
    culture: en
    name: 'Permissions'
  twPluginModuleI18n_5_pl:
    id: twPluginModule_5
    culture: pl
    name: 'Uprawnienia'
    
    